.sidebar {
    height: 2950px;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 72px;
    background-color: white;
    z-index: 1200;
    padding-top: 5px;
}

.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: roboto;
    font-size: 10px;
}
